<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gamethrone</title>
<script src="js/jquery-3.1.1.min.js" ></script>
<script src="js/jquery.dataTables.js" ></script>
<script src="js/main.js" ></script>
<script src="js/bootstrap.js" ></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>

<h1 style="color:#FFA500;text-align: center;">WELCOME TO GAMETHRONE</h1>
<body background="pic/123.jpg">

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" style="color:#FFA500;" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a  style="color:#FFA500;" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">table</a></li>
    <li role="presentation"><a  style="color:#FFA500;" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a style="color:#FFA500;" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <script type="text/template"  id="template-laptop-details">
<div class="modal fade" id="laptop-details-<%=lid%>" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Laptop Details</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="input-group">
						<span class="input-group-addon">ID</span> <input disabled
							class="form-control col-sm-10" type="text"
							id="laptop-id-<%= lid %>" value="<%= lid %>" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Model</span> <input
							class="form-control" type="text" id="laptop-model-<%= lid %>"
							value="<%= lmodel %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Manufacturer</span> <input
							class="form-control" type="text"
							id="laptop-manufacturer-<%= lid %>" value="<%= manufacturer %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Adapter Power</span> 
						<input
							class="form-control" type="text" id="adapter-power-<%= lid %>"
							value="<%= adapterPower %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Keyboard Backlight</span>
						<select class="form-control" id="kb-backlight-<%= lid %>" >
						<% var KBLTypes=['monochrome','color','none']; %>
						<% options(KBLTypes,kbBacklight) %>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-addon">CPU</span> <input
							class="form-control" type="text" id="cpu-<%= lid %>"
							value="<%= cpu %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">GPU</span> <input
							class="form-control" type="text" id="gpu-<%= lid %>"
							value="<%= gpu %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Memory</span> <input
							class="form-control" type="text" id="main-mem-<%= lid %>"
							value="<%= mainMem %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Screen Resolution</span> <input
							class="form-control" type="text"
							id="screen-resolution-<%= lid %>" value="<%= screenResolution %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Screen Size</span> <input
							class="form-control" type="text" id="screen-size-<%= lid %>"
							value="<%= screenSize %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Storage Size</span> <input
							class="form-control" type="text" id="storage-size-<%= lid %>"
							value="<%= storageSize %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Storage Type</span> 
						<select class="form-control" id="storage-type-<%= lid %>" >
						<% options(['HDD','SSD'], storageType) %>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-addon">Video Memory</span> <input
							class="form-control" type="text" id="video-mem-<%= lid %>"
							value="<%= videoMem %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Weight</span> <input
							class="form-control" class="form-control" type="text"
							id="weight-<%= lid %>" value="<%= weight %>" />
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-primary btn-save" data-dismiss="modal" >Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
</script>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home" style="color:#FFA500;">HOME!!!!!!</div>
    <div role="tabpanel" class="tab-pane" id="profile">
    <table id="game-table" style="background-color:#ff6f0f;" class="display">
<thead>
<tr>
	<th style="text-align:left;">Gamename</th>
	<th style="text-align:left;">Gamecompany</th>
	<th style="text-align:left;">Platform</th>
	<th style="text-align:left;">Year</th>
	<th style="text-align:left;">Feedback</th>
</tr>
</thead>
<tbody id="game-tbody"></tbody>
</table></div>
    <div role="tabpanel" class="tab-pane" id="messages"style="color:#FFA500;">Messages</div>
    <div role="tabpanel" class="tab-pane" id="settings"style="color:#FFA500;">Settings</div>
  </div>

</div>
</body>
<footer>
	<p style="color:#FFA500;float:bottom;/* position: relative; *//* width: 600px; *//* height: 400px; */position: absolute;top: 900px;left: 20px;width: 300px;height: 200px;">&copy; 2017 Luoquan Wei</p>
  </footer>
</html>