<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gamethrone</title>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.dataTables.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/models.js"></script>
<!-- <script src="js/gameRowView.js"></script> -->
<script src="js/gameTableView.js"></script>
<script src="js/gameDetailsView.js"></script>
<script src="js/addGameDetailsView.js"></script>
<script src="js/app.js"></script>

<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>

	<h1 style="color: #FFA500; text-align: center;">WELCOME TO
		GAMETHRONE</h1>
<body background="pic/123.jpg">

	<div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home"
				style="color: #FFA500;" aria-controls="home" role="tab"
				data-toggle="tab">Home</a></li>
			<li role="presentation"><a style="color: #FFA500;"
				href="#profile" aria-controls="profile" role="tab" data-toggle="tab">table</a></li>
			<li role="presentation"><a style="color: #FFA500;"
				href="#messages" aria-controls="messages" role="tab"
				data-toggle="tab">Messages</a></li>
			<li role="presentation"><a style="color: #FFA500;"
				href="#settings" aria-controls="settings" role="tab"
				data-toggle="tab">Settings</a></li>
		</ul>


		<script type="text/template" id="gamebiao">
    <td><%= gamename %></td>
    <td><%= gamecompany %></td>
    <td><%= gameplatform %></td>
    <td><%= gameyear %></td>
    <td><%= gamefeedback %></td>
	<td>
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#games<%=gameid%>">
	Edit
	</button>
	</td>
</script>


		<!-- Tab panes -->
		<script type="text/template" id="gameneirong">
<div class="modal fade" id="games<%=gameid%>" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Games Throne</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="form-group">
  						<label for="gameid-<%= gameid %>">GAME ID</label>
  						<input type="text" class="form-control" id="gameid-<%= gameid %>" value="<%= gameid %>" disabled>
					</div>
                    <div class="form-group">
  						<label for="gamename-<%= gameid %>">GAME NAME:</label>
  						<input type="text" class="form-control" id="gamename-<%= gameid %>" value="<%= gamename %>">
					</div>
                    <div class="form-group">
  						<label for="gamecompany-<%= gameid %>">GAME COMPANY:</label>
  						<input type="text" class="form-control" id="gamecompany-<%= gameid %>" value="<%= gamecompany %>">
					</div>
                    <div class="form-group">
  						<label for="gameplatform-<%= gameid %>">GAME PLATFORM:</label>
  						<input type="text" class="form-control" id="gameplatform-<%= gameid %>" value="<%= gameplatform %>">
					</div>
                    <div class="form-group">
  						<label for="gameyear-<%= gameid %>">PUBLISH YEAR:</label>
  						<input type="text" class="form-control" id="gameyear-<%= gameid %>" value="<%= gameyear %>">
					</div>
                    <div class="form-group">
  						<label for="gamefeedback-<%= gameid %>">GAME FEEDBACK:</label>
  						<input type="text" class="form-control" id="gamefeedback-<%= gameid %>" value="<%= gamefeedback %>">
					</div>
				</form>
				
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">DELETE</button>
				<button type="button" class="btn btn-primary btn-save" data-dismiss="modal" >SAVE</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
</script>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home"
				style="color: #FFA500;">HOME!!!!!!</div>
			<div role="tabpanel" class="tab-pane" id="profile">
				<table id="game-table" style="background-color: #ff6f0f;"
					class="display">
					<thead>
						<tr>
							<th style="text-align: left;">Gamename</th>
							<th style="text-align: left;">Gamecompany</th>
							<th style="text-align: left;">Platform</th>
							<th style="text-align: left;">Year</th>
							<th style="text-align: left;">Feedback</th>
							<th style="text-align: left;">Edit</th>
						</tr>
					</thead>
					
					<tbody id="game-tbody"></tbody>
				</table>
				<div style="text-align:center;"><a href="#" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#gamesXXXX">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;A&emsp;&emsp;&emsp;D&emsp;&emsp;&emsp;D&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="messages"
				style="color: #FFA500;">Messages</div>
			<div role="tabpanel" class="tab-pane" id="settings"
				style="color: #FFA500;">Settings</div>
		</div>

	</div>
</body>
<footer>
	<p
		style="color: #FFA500; float: bottom; /* position: relative; */ /* width: 600px; */ /* height: 400px; */ position: absolute; top: 900px; left: 20px; width: 300px; height: 200px;">&copy;
		2017 Luoquan Wei</p>
</footer>
<div id="kuangkuang"></div>
</html>